@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Slab|Ubuntu&display=swap');

body {
   background-color: rgb(137, 178, 185);
   width: 100vw;
   font-family: 'Montserrat', 'Raleway', 'Roboto+Slab', 'Ubuntu', 'Courier New';
}

button {
   font-family: 'Montserrat', 'Raleway', 'Roboto+Slab', 'Ubuntu', 'Courier New';
}

header {
   background-color: lightblue;
}